{% extends 'lpg_app/base.html' %}
{% block content %}

<div class="container mt-5">
    <h2 class="text-center mb-4">Book Cylinder - {{ company.name }}</h2>

    <div class="card p-4 shadow">
        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Consumer Number</label>
                <input type="text" name="consumer_number" class="form-control" placeholder="Enter Consumer No" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Address</label>
                <textarea name="address" class="form-control" placeholder="Enter Address" required></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label">Phone Number</label>
                <input type="text" name="phone" class="form-control" placeholder="Enter Phone" required>
            </div>

            <button type="submit" class="btn btn-success w-100">
                Submit Booking
            </button>

        </form>
    </div>
</div>

{% endblock %}